/*--------------new----------------------*/

html,body {
    position: relative;
    min-height: 100%
}

body {
    font-family: 'Microsoft JhengHei',Arial;
    /* font-weight:bold;
    font-size: 14px; */
    margin-top: 54px;
    margin-bottom: 40px
}

table {
    font-size: 100%;
    font-weight: bold;
    border-collapse: collapse;
    border-spacing: 0;
}

.navbar {
    font-size: larger
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373
}

.img-full {
  width: 100%;
}
/* 滑動列 */
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    background: transparent;
}

/* 滑鼠進入導覽列選項，自動下拉選單 */
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* 選單樣式 */
.navbar-vertical {
    background-color: #F0F0F0;
    border-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    text-align: center;
    border-radius: 25px;

}

.navbar-vertical .navbar-brand {
    color: #444444;
}
.navbar-vertical .navbar-brand:hover, .navbar-vertical .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-vertical .navbar-text {
    color: #444444;
}
.navbar-vertical .navbar-nav {
    width: 100%;
}
@media (min-width: 992px) {
    .navbar-vertical .navbar-nav {
        padding-top: 25%;
    }
}
.navbar-vertical .navbar-nav > li {
    float: none;
    border-bottom: 1px #FFFFFF solid;
    width: 100%;
}
.navbar-vertical .navbar-nav > li > a {
    color: #444444;
    border-left: 5px transparent solid;
    background-repeat: no-repeat;
    background-position: right center;
}
.navbar-vertical .navbar-nav > li > a:hover, .navbar-vertical .navbar-nav > li > a:focus {
    color: #7F0015;
    background-color: transparent;
    border-left: 5px #7F0015 solid;
}
.navbar-vertical .navbar-nav > .active > a, .navbar-vertical .navbar-nav > .active > a:hover, .navbar-vertical .navbar-nav > .active > a:focus {
    color: #7F0015;
    background-color: transparent;
    /*background-image: url("/images/icon/focus.png");*/
    border-left: 5px #7F0015 solid;
}
.navbar-vertical .navbar-nav > .disabled > a, .navbar-vertical .navbar-nav > .disabled > a:hover, .navbar-vertical .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-vertical .navbar-toggle {
    border-color: #ddd;
}
.navbar-vertical .navbar-toggle a {
    color: #444444;
}
.navbar-vertical .navbar-toggle a:hover {
    text-decoration: none;
}
.navbar-vertical .navbar-toggle:hover, .navbar-vertical .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-vertical .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-vertical .navbar-collapse, .navbar-vertical .navbar-form {
  border-color: transparent;
}
.navbar-vertical .navbar-nav > .open > a, .navbar-vertical .navbar-nav > .open > a:hover, .navbar-vertical .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #7F0015;
}
@media (max-width: 991px) {
    .navbar-vertical .navbar-nav .open .dropdown-menu > li > a {
        color: #444444;
    }
    .navbar-vertical .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-vertical .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #7F0015;
        background-color: transparent;
    }
  .navbar-vertical .navbar-nav .open .dropdown-menu > .active > a, .navbar-vertical .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-vertical .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #7F0015;
        background-color: transparent;
    }
  .navbar-vertical .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-vertical .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-vertical .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-vertical .navbar-link {
    color: #444444;
}
.navbar-vertical .navbar-link:hover {
    color: #7F0015;
}
.navbar-vertical .btn-link {
    color: #444444;
}
.navbar-vertical .btn-link:hover, .navbar-vertical .btn-link:focus {
    color: #7F0015;
}
.navbar-vertical .btn-link[disabled]:hover, .navbar-vertical .btn-link[disabled]:focus, fieldset[disabled] .navbar-vertical .btn-link:hover, fieldset[disabled] .navbar-vertical .btn-link:focus {
    color: #444;
}
@media (min-width: 992px) {
    .navbar-vertical.affix {
        padding-top: 5px;
        width: 15.75%;
    }

    .navbar-vertical {
        z-index: 0;
    }
    .navbar-vertical > .affix-bottom {
        position: static;
    }
}
@media (max-width: 992px) {
    .navbar-vertical {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-vertical.affix {
        position: fixed;
        padding-top: 0px;
        top: 57px;
        left: 0px;
        width: 100%;
    }
}

.text-list{
    font-family:'Noto Sans TC', sans-serif;word-break:break-all
}
form{
    display: inline;
}

.affix {
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1030;
}

/* fixed to top styles */
/*.affix.navbar {
  background-color: #333;
}
.affix.navbar .nav-item>a,
.affix.navbar .navbar-brand {
    color: #fff;
}
*/

.home-title {
    border-left: 5px #7F0015 solid;
    padding-left: 10px;
    margin-bottom: 10px;
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
    display: none;
}
.js #loader {
    display: block; position: absolute; left: 100px; top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("/images/loading.gif") center no-repeat #fff;
}

.owl-carousel{
    position: relative;
}

.owl-dots{
    position: absolute;
    top:85%;
    left:25%;
    right:25%;
}
